*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container{
    width: 100%;
    height: auto;
    background: #F3F5FC;
}

.panels{
    width: 90%;
    height: 91vh;
    background: #F3F5FC;
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
}

.logo{
    width: 100%;
    height: 15vh;
    background: #F3F5FC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    margin-top: 3%;
}

h1{
    margin-top: 3%;
    margin-right: 10%;
    color: #0A3871;
}

.left{
    width: 60%;
    height: 90vh;
    border-radius: 15px;
    background: #F3F5FC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea{
    float: left;
    outline: none;
    width: 90%;
    height: 50%;
    margin: 5% 0 5% 10%;
    color: #0A3871;
    background: #F3F5FC;
    border: none;
    font-size: 1.6em;
    line-height: 48px;
    resize: none;
}

.textarea::placeholder {
    color: #0A3871;
}

.buttons{
    width: 100%;
    height: 8vh;
    margin: 2% 0 5% 20%;
    border-radius: 15px;
}
button:hover{
    cursor: pointer;
}
.buttons button{
    height: 100%;
    width: 40%;
    border-radius: 15px;
    font-size: 1em;
    margin-right: 5%;
}

.notification{
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.notification img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.notification p{
    font-size: 0.75em;
    color: #495057;
}
#btn-encrypt{
    border: none;
    background: #0A3871;
    color: white;
}

#btn-decrypt{
    background: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0a3871;
}

.right{
    display: flex;
    width: 30%;
    height: 65vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3%;
    padding-top: 8%;
    border-radius: 15px;
    background-color: white;
    filter: drop-shadow(0px 24px 32px rgba(0, 0, 0, 0.08))
}   

.right img{
    width: 250px;
    height: 230px;
}

.right-description{
    width: 80%;
    height: 80%;
    text-align: center;
    color: #343A40;
}

.right-description h2{
    margin: 30px 0px 0 0;
    font-size: 24px;
}

.right-description textarea{
    font-size: 16px;
    width: 80%;
    height: 40%;
    text-align: center;
    border: none;
    resize: none;
    margin-top: 3%;
    outline: none;
}


#btn-copy{
    height: 9%;
    width: 80%;
    border-radius: 15px;
    font-size: 1em;
    margin: 0 0 15% 0;
    background-color: white;
    color: #0A3871;
    border: 1px solid #0a3871;
    text-align: center;
    outline: none;
    display: none;
}

footer{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
 footer p{
     margin-left: 20px;
 }

 footer .contact{
     margin-right: 20px;
 }
footer img{
    height: 1.8rem;
    width: 1.8rem;
    margin: 5px 5px 0 10px;
    opacity: 0.7;
}
@media(max-width: 425px){

    .container{
        height: 170vh;
    }

    .panels{
        flex-direction: column;
        height: 150vh;
    }

    .panels .left{
        width: 100%;
        height: 100vh;
    }

    .panels .right{
        width: 100%;
        margin: 60px 0;
    }

    #textarea{
        font-size: 1em;
        line-height: normal;
    }

    .buttons button{
        width: 80%;
        margin-bottom: 10px;
    }
    #hero, .logo h1{
        display: none;
    }

    .right-description h2{
        margin: 0;
    }
    .right-description textarea{
        width: 100%;
        height: 50%;
        margin: 10px 0 0 0;
    }
    #right-p{
        height: 70%;
    }
    #btn-copy{
        height: 10vh;
        margin-top: 0;
    }

    footer{
        flex-direction: column;
    }
}